:root {
	/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */
	--color-chamoisee: #99735f;
	--color-buff: #cb997e;
	--color-desert-sand: #ddbea9;
	--color-champagne-pink: #ffe8d6;
	--color-ash-gray: #b7b7a4;
	--color-sage: #a5a58d;
	--color-reseda-green: #6b705c;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	background-color: var(--color-champagne-pink);

	font-family: 'Amatic SC', sans-serif;
	color: var(--color-reseda-green);
	/* background-image: url(../assets/images/sleep-cat.jpeg); */
}

.title {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

/* SELECT DOG MENU */
/* =============== */

.select-dog-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;

	align-items: center;
	margin-bottom: 30px;
}

.dog-breeds-select,
.dog-subbreeds-select {
	min-width: 220px;

	background-color: transparent;
	border: 1.9px solid var(--color-reseda-green);
	border-radius: 5px;

	padding: 5px 10px;

	font-size: 24px;
}

.dog-breeds-select:hover,
.dog-subbreeds-select:hover {
	cursor: pointer;
}

.generate-image-button {
	min-width: 220px;

	background-color: var(--color-reseda-green);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;

	color: var(--color-champagne-pink);

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-size: 24px;
}

.generate-image-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.generate-image-button:not(:disabled):hover {
	cursor: pointer;

	background-color: var(--color-champagne-pink);
	color: var(--color-reseda-green);

	outline: 1px solid var(--color-reseda-green);
	outline-offset: -5px;
	box-shadow: 0 0 10px var(--color-ash-gray);
}

/* RANDOM DOG IMG */
/* ============== */
.dog-images__add-fav {
	min-width: 220px;

	background-color: var(--color-chamoisee);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;

	color: var(--color-champagne-pink);

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-size: 24px;
}

.dog-images__add-fav:hover {
	cursor: pointer;

	background-color: var(--color-champagne-pink);
	color: var(--color-chamoisee);

	outline: 1px solid var(--color-chamoisee);
	outline-offset: -5px;
	box-shadow: 0 0 10px var(--color-desert-sand);
}

.dog-images__random-img {
	min-height: 100px;
	min-width: 100px;
	max-width: 400px;
	background-color: var(--color-desert-sand);

	margin: 0 auto 20px;

	border-radius: 7px;
	outline: 1px solid var(--color-champagne-pink);
	outline-offset: -5px;
}

/* FAVOURITES */
/* ========== */

.dog-images__favs {
	padding: 10px;
	background-color: var(--color-buff);

	columns: 5 300px;
	column-gap: 10px;
}

.dog-images__single-fav {
	position: relative;
	margin-bottom: 10px;
	border-radius: 7px;
}

.dog-images__delete-fav {
	position: absolute;
	right: 10px;
	top: 10px;

	width: 30px;
	height: 30px;
	border: none;
	border-radius: inherit;

	font-family: sans-serif;
	font-weight: 400;
	color: var(--color-champagne-pink);

	background-color: var(--color-buff);

	outline: 1px solid var(--color-champagne-pink);
	outline-offset: -3px;
	box-shadow: 0 0 10px var(--color-desert-sand);
	opacity: 0.7;
}

.dog-images__delete-fav:hover {
	cursor: pointer;

	background-color: var(--color-champagne-pink);
	color: var(--color-buff);

	outline: none;
	box-shadow: 0 0 10px var(--color-chamoisee);
	opacity: 1;
}

.dog-images__img-fav {
	width: 100%;
	border-radius: inherit;
}

.hidden {
	display: none;
}
